<section class="main">
  <ul class="todo-list">
    <li
      id="{{ task.id }}_li"
      (dblclick)="editTask($event)"
      *ngFor="let task of showTaskList"
      [ngClass]="task.isDone ? 'completed' : ''"
    >
      <div class="view">
        <input
          id="{{ task.id }}_CB"
          (click)="completeTask($event)"
          [checked]="task.isDone"
          class="toggle"
          type="checkbox"
        />
        <label id="{{ task.id }}_LB">{{ task.title }}</label>
        <button
          id="{{ task.id }}_DEL_BT"
          (click)="deleteTask($event)"
          class="destroy"
        ></button>
      </div>
      <input
        id="{{ task.id }}_TB"
        value="{{ task.title }}"
        [hidden]="checkEdit(task.id)"
        class="edit"
        (keydown.enter)="editTaskEnd($event)"
      />
    </li>
  </ul>
</section>
